<!DOCTYPE html>
<html>
  <head>
    <title>Express Dev-Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Dev-Skill: <%= devSkills.skill %></h3>
    <h3>Skill Id: <%= devSkills.id %></h3>
    <h3>Complete: <%= devSkills.learn ? 'Yes' : 'No' %></h3>
  </body>

</html>